In [17]:
#typecasting in tuple
t=(10,20,30)
print(t)
y=list(t) #typecasting
print(y)
print(type(y))
y.append(40)
print(y)
print(tuple(y))

(10, 20, 30)
[10, 20, 30]
<class 'list'>
[10, 20, 30, 40]
(10, 20, 30, 40)

In [17]:
#set value accessing
s2={9,4,10,45,2,3}
for i in s2:
    if i==45:
        print(i)
        break
    else:
        print("nan")

nan
nan
nan
nan
nan
45

In [29]:
d2 = {'name':'hazel' , 10:'21'}
print(d2['name'])
print(d2[10])
d3 = {'name':('hazel','zade','steven') , 'age':[10,20,30]}
print(d3['age'] [2])
print(d3['name'][2])

hazel
21
30
steven

In [39]:
d2 = {'name':('hazel','zade','steven') , 'age':[10,20,30]}
d2['age']=[50,60,70] #updating
d2['coruse']=('bca','mca','mbbs')
print(d2)

{'name': ('hazel', 'zade', 'steven'), 'age': [50, 60, 70], 'coruse': ('bca', 'mca', 'mbbs')}

In [49]:
d2 = {'name':('hazel','zade','steven') , 'age':[10,20,30]}
d=[]
for i in d2:
    d.append(i)
print(d)

['name', 'age']

In [47]:
d2 = {'name':('hazel','zade','steven') , 'age':[10,20,30]}
d=[]
for i in d2:
    a=d2.get(i)
    d.append(a)
print(d)

[('hazel', 'zade', 'steven'), [10, 20, 30]]

In [ ]:
#whatsapp questions

student = {'name':['hazel','zade','steven'] , 'marks':[10,20,30]}
print(student)

#adding values
student['marks'].append(25)
student['name'].append('alex')
print(student)

#updating values
index=student['name'].index('zade')
student['marks'][index]=88
print(student)

student.update()

#highest,lowest and avg marks
t_marks=[int(m) for m in student['marks']] #typecasting
marks = student['marks']
highest = max(t_marks)
lowest = min(t_marks)
average = sum(t_marks)/len(t_marks)

print(highest)
print(lowest)
print(average)

In [97]:
try:
    print('raman') #print(raman) -> error
except NameError:
    print('error occurred')
else:
    print('done')
finally:
    print('code done')

raman
done
code done

In [107]:
#oops
class person:
    def __init__(self,name,age): #constructor -> calls automatically when an object is created
        #self -> indicates objects of current class we can write anything at the place of self.
        #1st parameter will be considered self only
        self.name = name
        self.age = age

    def myfunc(self):
        print("hello " + self.name)
        

p1 = person("hazel" ,36) #p1 is object -> storing a class in a variable
#one class can have multiple objects
print(p1.name)
print(p1.age)
p1.myfunc()

#method -> inside class; first parameter should be self 
#function -> outside class; first parameter can be empty

hazel
36
hello hazel

In [151]:
#class based atm machine
class ATM:
    def __init__ (self, bal=0):
        self.bal = bal

    def checkbal(self):
        print(f"your current balance is rs.{self.bal}")

    def addmoney(self,amount):
        if amount>0:
            self.bal += amount
            print(f"rs.{amount} deposited successfully!!")

    def withdraw(self, amount):
        if amount>0:
            self.bal -= amount
            print(f"rs.{amount} withdrawl successfully!!")
        
atm= ATM(1000)
atm.checkbal() 
atm.addmoney(2000)
atm.checkbal()
atm.withdraw(200)
atm.checkbal()

your current balance is rs.1000
rs.2000 deposited successfully!!
your current balance is rs.3000
rs.200 withdrawl successfully!!
your current balance is rs.2800

In [157]:
#install mysql workbench
#conn = mysql.connector.connect(
#host = "localhost"

'''
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")
'''

'\nimport mysql.connector\n\nmydb = mysql.connector.connect(\n  host="localhost",\n  user="yourusername",\n  password="yourpassword"\n)\n\nmycursor = mydb.cursor()\n\nmycursor.execute("CREATE DATABASE mydatabase")\n'